body  {
    background: linear-gradient(rgb(66, 36, 17), 40%, rgb(231, 172, 94));
  }
.multi-bg-example {
    width: 100%;
    height: 400px;
    background-image: url(https://cutewallpaper.org/22/aesthetic-pictures-books-wallpapers/%E2%9C%9325440+-aesthetic-brown-android-iphone-desktop-hd-backgrounds--wallpapers-1080p-4k-hd-wallpapers-desktop-background-android--iphone-1080p-4k-1080x1301-2021.jpg),   
        linear-gradient(to right, rgb(77, 26, 25), rgba(250, 212, 187, 0));
    background-repeat: no-repeat,
        no-repeat;
    background-position: center,
        left;
        background-size: cover,
        contain;
  }
nav {
display: flex;
gap: 0.5rem;
}

a {
flex: 1;
background-color:#e9d9c3;
color: rgb(36, 27, 13);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
border: 1px solid;
padding: 0.5rem;
text-align: center;
text-decoration: none;
border-radius: 30px;
transition: all 0.5s ease-out;
}

a:hover,
a:focus {
background-color: rgb(233, 235, 147);
color: #333;
}
.container{
align-self: auto;
font-family: sans-serif, bold;
width: 350px;
background-color:#e9d9c3 ;
color: #220b0b;
border-color: #e9d58d;
border-style:double;
border-width:3px;
padding: 20px;
margin: 10px;
border-radius: 15px;

}
input[type=text] ,input[type=password]{
font-size: small;
font-family: bold, sans-serif;
width: 90%;
border-radius: 5px;
padding: 10px;
margin: 5px 0 5px 0;
display:grid;
border-style:double;
border-color: #d1c9ac;
background: #cec1c1;
}
